/* RESET */
html,
body,
div,
span,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
address,
em,
img,
strong,
u,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
tbody,
tfoot,
thead,
tr,
th,
td,
main,
article,
aside, 
figure,
figcaption,
footer,
header,
nav,
section,
time,
audio,
video{
  border:0;
  font-family:'Open Sans', sans-serif;
  font-size:16px;
  margin:0;
  padding:0;
  vertical-align:baseline;
  box-sizing:border-box;
}
html{scroll-behavior:smooth;}
body{
  background:hsl(228, 39%, 9%);
  line-height:24px;
}
ol, 
ul,
li{list-style:none;}
strong{font-weight:bold;}
table{
  border-collapse:collapse;
  border-spacing:0;
  width:100%;
}
img{width:100%;}
p{letter-spacing:0.04em;}
a,
a:hover{
  color:#333;
  text-decoration:none;
  cursor:pointer;
}
:focus{outline:0;}
:hover{transition:.3s ease;}
input[type="text"],
input[type="email"],
input[type="tel"],
input[type="search"],
input[type="url"],
textarea,
select{
  border:0;
  border-bottom:1px solid #000;
  color:#333;
  padding:8px 0;
  font:16px 'Open Sans', sans-serif;
  background:transparent;
  width:100%;
}
input[type="text"]:focus,
input[type="email"]:focus,
input[type="tel"]:focus,
input[type="search"]:focus,
input[type="url"]:focus,
textarea:focus,
select:focus{border-color:#900;}
input[type="submit"],
input[type="button"],
button{
  border:1px solid #000;
  text-transform:uppercase;
  padding:10px 30px;
  color:#333;
  font:16px Arial, Helvetica, sans-serif;
  background:transparent;
}
input[type="text"]::placeholder,
input[type="email"]::placeholder,
input[type="tel"]::placeholder,
input[type="search"]::placeholder,
input[type="url"]::placeholder{color:#333;}
p{
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: 0.04em;
}



body{
  font: 400 Arial, sans-serif;
  letter-spacing: 0.04em;
  
}

.container{
    margin: 0 auto;
    max-width: 100%;
    width: 1200px;
    
}

header{
    background: hsl(229, 43%, 10%);
    width: 100%;
    height: 100px;
    
}


img{
  width: 100%;
}

/* MENU */



.topo-fixo{
  position: fixed;
  top: 0;

}

nav {
  background: hsl(229, 43%, 10%);
  width: 100%;
  display: flex;
  text-align: center;
  justify-content: space-between;
  padding: 27px;
  color: #fff;
  flex-wrap: wrap;

}



.nav-ul {
    display: flex;
    padding: 0;
    justify-content: center;
    align-items: center;
   
    
}


nav ul a{
    display: inline-block;
    cursor: pointer;
    padding: 10px 20px;
    min-width: 100%;
    font: 18px/1;
    color: rgb(204, 200, 200);
    
    
}


nav ul a:hover{
    color: rgb(185, 182, 182);
    transition: .5s ease all;
}


.principal  {
  font:900 30px/1 'Roboto', sans-serif ;
}

.secundario {
  font: 400 11px/1 'Comfortaa', cursive;
  padding-left: 15px;
}



/* HAMBURGUER */
.hamburguer{
  background-color: transparent;
  border: 0;
  color: #fff;
  font-size: 20px;
  cursor: pointer;
  display: none;
}

.hamburguer:focus{
  outline: none;
}

/* CONTEUDO */

.apresentation{
  padding: 60px 60px;
  display: flex;
  justify-content: space-between;
  color: #fff;
  gap: 20px;
}

.apresentation div {
  padding: 20px 30px 0;
}
.apresentation img {
  width: 100%;
}

.apresentation p{
  color: #fff;
  padding-top: 20px;
  font: 400 18px/1 'Comfortaa', cursive;
}


/* RODAPÉ */

footer{
  border-top: solid 1px #000;
  text-align: center;
  padding: 40px 0;
}
footer p {
  font: 200 14px/1 Arial, Helvética, sans-serif;
}




/* MOBILE */

@media screen and (max-width:720px){
    
  .nav-ul {
    display: none;
    flex-direction: column;
    width: 100%;
    
  }
  .nav-ul.show{
    display: flex;
    
  }

  .hamburguer{
    display: block;
  }
  
  
  .container-principal{
      max-width: 100%;
    }

    .apresentation img{
      width: 100%;
    }
    .apresentation{
      display:  block;
    }

    .apresentation h2, p {
      text-align: center;
     
    }

   
  

    

}