body{
    background:#08131f;
}

.container{
    max-width: 400px;
    height: fit-content;
    background:#fff;
    border: 1px solid #000;
    border-radius: 40px;
    margin: 10px auto 0;

}

h2{
    text-align: center;
}

p {
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
    font-weight: 900;
    text-align: center;
    text-decoration: none;
    
}

.box{
    border-radius: 10px;
    border: solid 1px #000;
    margin-bottom: 10px;
}

.num1{
    background: #000;
}


.num1 p{
    color: #fff;
}

figure {
    margin: 0 0 0.4rem;
}

.col-6{
    transform: translateX(-6px);
}

a{
    text-decoration: none;
}

.botao a{
    color: #000;
    text-decoration: none;
    text-align: center;
    min-width: 326px;
    display: block;
    justify-content: center;
}